<a href="https://colab.research.google.com/github/emmafengxi/Detect-Medicare-Fraud/blob/master/Test_with_TN_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# get access to google drive, where data are stored
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
from datetime import  datetime
!pip install fuzzywuzzy
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
#!pip install recordlinkage
#import recordlinkage as rl

Collecting fuzzywuzzy
  Downloading https://files.pythonhosted.org/packages/d8/f1/5a267addb30ab7eaa1beab2b9323073815da4551076554ecc890a3595ec9/fuzzywuzzy-0.17.0-py2.py3-none-any.whl
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.17.0

/usr/local/lib/python3.6/dist-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

# 1. Clean Lable Data


---


> Latest updated in Aug 2019

In [3]:
# load LEIE data for TN
df_LEIE = pd.read_csv('/content/drive/My Drive/Data Science/Springboard/Data/LEIE_TN.csv', index_col=0)
df_LEIE.head(3)

    LASTNAME FIRSTNAME MIDNAME  ... REINDATE WAIVERDATE WVRSTATE
227      NaN       NaN          ...        0          0      NaN
378      NaN       NaN          ...        0          0      NaN
482      NaN       NaN          ...        0          0      NaN

[3 rows x 18 columns]

In [0]:
df_LEIE.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1691 entries, 227 to 72455
Data columns (total 18 columns):
LASTNAME      1655 non-null object
FIRSTNAME     1655 non-null object
MIDNAME       1691 non-null object
BUSNAME       36 non-null object
GENERAL       1691 non-null object
SPECIALTY     1631 non-null object
UPIN          125 non-null object
NPI           1691 non-null int64
DOB           1646 non-null float64
ADDRESS       1690 non-null object
CITY          1691 non-null object
STATE         1691 non-null object
ZIP           1691 non-null int64
EXCLTYPE      1691 non-null object
EXCLDATE      1691 non-null int64
REINDATE      1691 non-null int64
WAIVERDATE    1691 non-null int64
WVRSTATE      0 non-null float64
dtypes: float64(2), int64(5), object(11)
memory usage: 251.0+ KB

In [4]:
# extract the following exclusion types which are considered Medicare fradulent types: 
# '1128a1', '1128a2', '1128a3', '1128b4', '1128c3gi', '1128c3gii'
df_LEIE = df_LEIE[df_LEIE.EXCLTYPE.isin(['1128a1', '1128a2', '1128a3', '1128b4', '1128c3gi', '1128c3gii'])]

# create a provider type
df_LEIE['p_type'] = np.where((df_LEIE.LASTNAME.isna() & df_LEIE.BUSNAME.notna()), 'O', 'I')

# an organizational provider does not have first/last name, so move business name to last name
df_LEIE.LASTNAME = np.where((df_LEIE.LASTNAME.isna() & df_LEIE.BUSNAME.notna()), df_LEIE.BUSNAME, df_LEIE.LASTNAME)

# drop BUSNAME column
df_LEIE.drop('BUSNAME', axis=1, inplace=True)

# recode middle name, use only initial
df_LEIE.MIDNAME = df_LEIE.MIDNAME.str.strip().str[0]

# for string vars, replace NaN with ''
loc1 = df_LEIE.columns.get_loc('UPIN')
loc2 = df_LEIE.columns.get_loc('ADDRESS')
loc3 = df_LEIE.columns.get_loc('STATE')
list1 = df_LEIE.columns[:loc1+1].tolist()
list2 = df_LEIE.columns[loc2:loc3+1].tolist()
fill_col = list1 + list2 + ['EXCLTYPE'] + ['WVRSTATE']
for col in fill_col:
    df_LEIE[col].fillna('', inplace=True)

# create a name variable containing both last and first name
df_LEIE['NAME'] = df_LEIE.LASTNAME + ' ' + df_LEIE.FIRSTNAME
df_LEIE.NAME = df_LEIE.NAME.str.strip()

# convert var type
for col in ['NPI', 'ZIP']:
    df_LEIE[col] = np.where(df_LEIE[col] == 0, '', df_LEIE[col].astype(str))

df_LEIE.DOB = np.where(df_LEIE.DOB.isna(), np.datetime64('NaT'), df_LEIE.DOB.astype(str).str[:8].apply(lambda x: pd.to_datetime(x, format='%Y-%m-%d')))
for col in ['EXCLDATE', 'REINDATE', 'WAIVERDATE']:
    df_LEIE[col] = np.where(df_LEIE[col] == 0, np.datetime64('NaT'), df_LEIE[col].astype(str).apply(lambda x: pd.to_datetime(x, format='%Y-%m-%d', errors='coerce')))

# create a flag variable indicating whether a provider is considered as a fraudulent case
# because the time limit of the fraud cases is 5 years, though this list included all fraudulent providers
df_LEIE['fraud_flag'] = np.where(df_LEIE['EXCLDATE'].dt.year.isin(range(2010, 2015)), 1, 0)

print(df_LEIE.shape)
df_LEIE.head(3)

(1519, 20)

                           LASTNAME  ... fraud_flag
378          BLANKENSHIP'S PHARMACY  ...          0
601  CLINICAL LABORATORY ASSOCIATES  ...          0
608              COALFIELD PHARMACY  ...          0

[3 rows x 20 columns]

In [5]:
# check the frequency of fraud cases
df_LEIE.fraud_flag.value_counts()

0    1050
1     469
Name: fraud_flag, dtype: int64

In [6]:
# list rows with the same NPI, excluding ''
npi_counts = df_LEIE.NPI.value_counts()
npi_counts = pd.DataFrame(npi_counts)
npi_counts.reset_index(inplace=True)
npi_counts.columns = ['NPI', 'counts']
dup_npi = npi_counts.loc[(npi_counts.NPI != '') & (npi_counts.counts > 1)]['NPI']
df_LEIE[df_LEIE.NPI.isin(dup_npi)]

      LASTNAME FIRSTNAME MIDNAME  ... p_type         NAME fraud_flag
10417   BRILEY      JOHN       M  ...      I  BRILEY JOHN          0
10418   BRILEY      JOHN       M  ...      I  BRILEY JOHN          0

[2 rows x 20 columns]

In [7]:
# remove duplicates
sortlist = ['NPI', 'STATE', 'CITY', 'LASTNAME', 'FIRSTNAME', 'DOB', 'fraud_flag', 'EXCLDATE']
droplist = ['NPI', 'STATE', 'CITY', 'LASTNAME', 'FIRSTNAME', 'DOB', 'fraud_flag']
#df_LEIE['total_fraud_count'] = df_LEIE.groupby()
df_LEIE.sort_values(by=sortlist, ascending=False, na_position='last', inplace=True)
df_LEIE_nodup = df_LEIE.drop_duplicates(droplist, keep='first')
df_LEIE_nodup.shape

(1511, 20)

# 2. Clean 2014 Provider data


---


> Only using TN data in 2014

In [8]:
# load provider data for TN
df_p2014_TN = pd.read_csv('/content/drive/My Drive/Data Science/Springboard/Data/Provider2014_TN.csv')
df_p2014_TN.head(3)

          npi  ... average_medicare_standard_amt
0  1871575043  ...                   1315.470000
1  1134126097  ...                    415.702000
2  1942414750  ...                    409.981778

[3 rows x 26 columns]

In [9]:
df_p2014_TN.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255311 entries, 0 to 255310
Data columns (total 26 columns):
npi                                 255311 non-null int64
nppes_provider_last_org_name        255311 non-null object
nppes_provider_first_name           245918 non-null object
nppes_provider_mi                   207922 non-null object
nppes_credentials                   242455 non-null object
nppes_provider_gender               245918 non-null object
nppes_entity_code                   255311 non-null object
nppes_provider_street1              255311 non-null object
nppes_provider_street2              125575 non-null object
nppes_provider_city                 255311 non-null object
nppes_provider_zip                  255311 non-null int64
nppes_provider_state                255311 non-null object
nppes_provider_country              255311 non-null object
provider_type                       255311 non-null object
medicare_participation_indicator    255311 non-null object
place_of_service                    255311 non-null object
hcpcs_code                          255311 non-null object
hcpcs_description                   255311 non-null object
hcpcs_drug_indicator                255311 non-null object
line_srvc_cnt                       255311 non-null float64
bene_unique_cnt                     255311 non-null int64
bene_day_srvc_cnt                   255311 non-null int64
average_medicare_allowed_amt        255311 non-null float64
average_submitted_chrg_amt          255311 non-null float64
average_medicare_payment_amt        255311 non-null float64
average_medicare_standard_amt       255311 non-null float64
dtypes: float64(5), int64(4), object(17)
memory usage: 50.6+ MB

In [10]:
# exlcude records for drug prescriptions AND select providers that participate in medicare
df_p2014_TN = df_p2014_TN[(df_p2014_TN.hcpcs_drug_indicator == 'N') & (df_p2014_TN.medicare_participation_indicator == 'Y')]

# for string vars, replace NaN with ''
loc1 = df_p2014_TN.columns.get_loc('nppes_provider_last_org_name')
loc2 = df_p2014_TN.columns.get_loc('nppes_provider_city')
loc3 = df_p2014_TN.columns.get_loc('nppes_provider_state')
loc4 = df_p2014_TN.columns.get_loc('hcpcs_drug_indicator')
list1p = df_p2014_TN.columns[loc1:loc2+1].tolist()
list2p = df_p2014_TN.columns[loc3:loc4+1].tolist()
col_list_p = list1p + list2p
for col in col_list_p:
    df_p2014_TN[col].fillna('', inplace=True)

# recode middle name, use only initial
df_p2014_TN.nppes_provider_mi = np.where(df_p2014_TN.nppes_provider_mi.isin(['.', '(']), np.NaN, df_p2014_TN.nppes_provider_mi)

# create a name variable containing first and last name
df_p2014_TN['nppes_name'] = df_p2014_TN.nppes_provider_last_org_name + ' ' + df_p2014_TN.nppes_provider_first_name
df_p2014_TN.nppes_name = df_p2014_TN.nppes_name.str.strip()

# recode npi code
df_p2014_TN.npi = df_p2014_TN.npi.astype(str)

# recode zip code
df_p2014_TN.nppes_provider_zip = df_p2014_TN.nppes_provider_zip.astype(str).str[:5]

# add a variable indicating which year
df_p2014_TN['year'] = '2014'

# check the unique providers using npi
print('The number of unique providers (npi) is ' + str(len(df_p2014_TN.npi.unique().tolist())))

The number of unique providers (npi) is 21642

In [11]:
# check duplicates
p2014_droplist = ['npi', 'hcpcs_code', 'line_srvc_cnt', 'bene_unique_cnt', 'bene_day_srvc_cnt', 'average_medicare_allowed_amt', 'average_submitted_chrg_amt', 'average_medicare_payment_amt', 'average_medicare_standard_amt']
df_p2014_TN_nodup = df_p2014_TN.drop_duplicates(p2014_droplist, keep='first')
df_p2014_TN_nodup.shape

(236000, 28)

In [12]:
# aggregate the numeric columns on categorical coulumns => each npi has one row of data
# Note: 'place_of_service' indicates facility or office. In general, facility fees are lower than office.
# However, to get one row for each unique npi, I disregarded the difference between the two.
aggre_var = ['line_srvc_cnt', 'bene_unique_cnt', 'bene_day_srvc_cnt', 'average_medicare_allowed_amt', 'average_submitted_chrg_amt', 
             'average_medicare_payment_amt', 'average_medicare_standard_amt']
group_var = ['provider_type', 'npi', 'nppes_provider_last_org_name', 'nppes_provider_first_name', 'nppes_name', 'nppes_provider_mi', 
             'nppes_provider_state', 'nppes_provider_city', 'nppes_provider_zip', 'nppes_provider_street1', 'nppes_provider_street2', 'nppes_entity_code', 
             'nppes_provider_gender', 'nppes_credentials', 'year']
aggregations = {
    'line_srvc_cnt': {
        'line_srvc_cnt_count': 'count', 
        'line_srvc_cnt_sum': 'sum', 
        'line_srvc_cnt_min': 'min', 
        'line_srvc_cnt_mean': 'mean', 
        'line_srvc_cnt_median': 'median',
        'line_srvc_cnt_std': 'std',
        'line_srvc_cnt_max': 'max'
    },
    'bene_unique_cnt': {
        'bene_unique_cnt_count': 'count',
        'bene_unique_cnt_sum': 'sum',
        'bene_unique_cnt_min': 'min',
        'bene_unique_cnt_mean': 'mean',
        'bene_unique_cnt_median': 'median',
        'bene_unique_cnt_std': 'std',
        'bene_unique_cnt_max': 'max'
    },
    'bene_day_srvc_cnt': {
        'bene_day_srvc_cnt_count': 'count',
        'bene_day_srvc_cnt_sum': 'sum',
        'bene_day_srvc_cnt_min': 'min',
        'bene_day_srvc_cnt_mean': 'mean',
        'bene_day_srvc_cnt_median': 'median',
        'bene_day_srvc_cnt_std': 'std',
        'bene_day_srvc_cnt_max': 'max'
    },
    'average_medicare_allowed_amt': {
        'average_medicare_allowed_amt_count': 'count',
        'average_medicare_allowed_amt_sum': 'sum',
        'average_medicare_allowed_amt_min': 'min',
        'average_medicare_allowed_amt_mean': 'mean',
        'average_medicare_allowed_amt_median': 'median',
        'average_medicare_allowed_amt_std': 'std',
        'average_medicare_allowed_amt_max': 'max'
    },
    'average_submitted_chrg_amt': {
        'average_submitted_chrg_amt_count': 'count',
        'average_submitted_chrg_amt_sum': 'sum',
        'average_submitted_chrg_amt_min': 'min',
        'average_submitted_chrg_amt_mean': 'mean',
        'average_submitted_chrg_amt_median': 'median',
        'average_submitted_chrg_amt_std': 'std',
        'average_submitted_chrg_amt_max': 'max'
    },
    'average_medicare_payment_amt': {
        'average_medicare_payment_amt_count': 'count',
        'average_medicare_payment_amt_sum': 'sum',
        'average_medicare_payment_amt_min': 'min',
        'average_medicare_payment_amt_mean': 'mean',
        'average_medicare_payment_amt_median': 'median',
        'average_medicare_payment_amt_std': 'std',
        'average_medicare_payment_amt_max': 'max'
    },
    'average_medicare_standard_amt': {
        'average_medicare_standard_amt_count': 'count',
        'average_medicare_standard_amt_sum': 'sum',
        'average_medicare_standard_amt_min': 'min',
        'average_medicare_standard_amt_mean': 'mean',
        'average_medicare_standard_amt_median': 'median',
        'average_medicare_standard_amt_std': 'std',
        'average_medicare_standard_amt_max': 'max'
    }
}

# fill na before
df_p2014_TN_agg = df_p2014_TN_nodup.groupby(group_var, as_index=False)[aggre_var].agg(aggregations).fillna(0)
df_p2014_TN_agg.info()

/usr/local/lib/python3.6/dist-packages/pandas/core/groupby/generic.py:1315: FutureWarning: using a dict with renaming is deprecated and will be removed in a future version
  return super(DataFrameGroupBy, self).aggregate(arg, *args, **kwargs)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21640 entries, 0 to 21639
Data columns (total 64 columns):
provider_type                           21640 non-null object
npi                                     21640 non-null object
nppes_provider_last_org_name            21640 non-null object
nppes_provider_first_name               21640 non-null object
nppes_name                              21640 non-null object
nppes_provider_mi                       21640 non-null object
nppes_provider_state                    21640 non-null object
nppes_provider_city                     21640 non-null object
nppes_provider_zip                      21640 non-null object
nppes_provider_street1                  21640 non-null object
nppes_provider_street2                  21640 non-null object
nppes_entity_code                       21640 non-null object
nppes_provider_gender                   21640 non-null object
nppes_credentials                       21640 non-null object
year                                    21640 non-null object
line_srvc_cnt_count                     21640 non-null int64
line_srvc_cnt_sum                       21640 non-null float64
line_srvc_cnt_min                       21640 non-null float64
line_srvc_cnt_mean                      21640 non-null float64
line_srvc_cnt_median                    21640 non-null float64
line_srvc_cnt_std                       21640 non-null float64
line_srvc_cnt_max                       21640 non-null float64
bene_unique_cnt_count                   21640 non-null int64
bene_unique_cnt_sum                     21640 non-null int64
bene_unique_cnt_min                     21640 non-null int64
bene_unique_cnt_mean                    21640 non-null float64
bene_unique_cnt_median                  21640 non-null float64
bene_unique_cnt_std                     21640 non-null float64
bene_unique_cnt_max                     21640 non-null int64
bene_day_srvc_cnt_count                 21640 non-null int64
bene_day_srvc_cnt_sum                   21640 non-null int64
bene_day_srvc_cnt_min                   21640 non-null int64
bene_day_srvc_cnt_mean                  21640 non-null float64
bene_day_srvc_cnt_median                21640 non-null float64
bene_day_srvc_cnt_std                   21640 non-null float64
bene_day_srvc_cnt_max                   21640 non-null int64
average_medicare_allowed_amt_count      21640 non-null int64
average_medicare_allowed_amt_sum        21640 non-null float64
average_medicare_allowed_amt_min        21640 non-null float64
average_medicare_allowed_amt_mean       21640 non-null float64
average_medicare_allowed_amt_median     21640 non-null float64
average_medicare_allowed_amt_std        21640 non-null float64
average_medicare_allowed_amt_max        21640 non-null float64
average_submitted_chrg_amt_count        21640 non-null int64
average_submitted_chrg_amt_sum          21640 non-null float64
average_submitted_chrg_amt_min          21640 non-null float64
average_submitted_chrg_amt_mean         21640 non-null float64
average_submitted_chrg_amt_median       21640 non-null float64
average_submitted_chrg_amt_std          21640 non-null float64
average_submitted_chrg_amt_max          21640 non-null float64
average_medicare_payment_amt_count      21640 non-null int64
average_medicare_payment_amt_sum        21640 non-null float64
average_medicare_payment_amt_min        21640 non-null float64
average_medicare_payment_amt_mean       21640 non-null float64
average_medicare_payment_amt_median     21640 non-null float64
average_medicare_payment_amt_std        21640 non-null float64
average_medicare_payment_amt_max        21640 non-null float64
average_medicare_standard_amt_count     21640 non-null int64
average_medicare_standard_amt_sum       21640 non-null float64
average_medicare_standard_amt_min       21640 non-null float64
average_medicare_standard_amt_mean      21640 non-null float64
average_medicare_standard_amt_median    21640 non-null float64
average_medicare_standard_amt_std       21640 non-null float64
average_medicare_standard_amt_max       21640 non-null float64
dtypes: float64(36), int64(13), object(15)
memory usage: 10.7+ MB

In [13]:
df_p2014_TN_agg.head()

         provider_type  ... average_medicare_standard_amt_max
0   Addiction Medicine  ...                        108.148082
1   Addiction Medicine  ...                        138.769375
2  All Other Suppliers  ...                         24.580000
3  All Other Suppliers  ...                         24.580000
4  All Other Suppliers  ...                         24.580000

[5 rows x 64 columns]

# 3. Merge

In [14]:
# merge the rows with npi values
df_common = pd.merge(df_LEIE_nodup, df_p2014_TN_agg, left_on='NPI', right_on='npi', how='inner')
df_common.shape

(13, 84)

In [15]:
# extract the exclusion list data, which excluded common rows with provider data
df_LEIE_rest = pd.merge(df_LEIE_nodup, df_p2014_TN_agg[['npi']], left_on='NPI', right_on='npi', how='left', indicator=True)
df_LEIE_rest = df_LEIE_rest[df_LEIE_rest['_merge'] == 'left_only']
df_LEIE_rest.drop(['npi', '_merge'], axis=1, inplace=True)
print(df_LEIE_rest.shape)
df_LEIE_rest.head()

(1498, 20)

  LASTNAME FIRSTNAME MIDNAME  ... p_type             NAME fraud_flag
1    BENNE   MICHAEL          ...      I    BENNE MICHAEL          0
2  DOUGLAS    KELVIN       L  ...      I   DOUGLAS KELVIN          0
3     DUBE   MICHAEL       N  ...      I     DUBE MICHAEL          1
4  LARMORE   CHARLES       R  ...      I  LARMORE CHARLES          0
5    COLES    ROBERT       A  ...      I     COLES ROBERT          0

[5 rows x 20 columns]

In [16]:
# extract the provider data, which excluded common rows with exclusion list data
df_p2014_TN_rest = pd.merge(df_LEIE_nodup[['NPI']], df_p2014_TN_agg, left_on='NPI', right_on='npi', how='right', indicator=True)
df_p2014_TN_rest = df_p2014_TN_rest[df_p2014_TN_rest['_merge'] == 'right_only']
df_p2014_TN_rest.drop(['NPI', '_merge'], axis=1, inplace=True)
print(df_p2014_TN_rest.shape)
df_p2014_TN_rest.head()

(21627, 64)

          provider_type  ... average_medicare_standard_amt_max
13   Addiction Medicine  ...                        108.148082
14   Addiction Medicine  ...                        138.769375
15  All Other Suppliers  ...                         24.580000
16  All Other Suppliers  ...                         24.580000
17  All Other Suppliers  ...                         24.580000

[5 rows x 64 columns]

In [17]:
# create a blocking variable in each dataset (state + first letter of city)
# check whether blocking variables in two datasets are the same
df_LEIE_rest['l_grpvar'] = df_LEIE_rest.STATE + ' ' + df_LEIE_rest.CITY.str[0]
comb_len1 = len(df_LEIE_rest['l_grpvar'].unique().tolist())

df_p2014_TN_rest['p_grpvar'] = df_p2014_TN_rest.nppes_provider_state + ' ' + df_p2014_TN_rest.nppes_provider_city.str[0]
comb_len2 = len(df_p2014_TN_rest['p_grpvar'].unique().tolist())

# compare two lists
if comb_len1 == comb_len2:
    print('True: The blocking variables from the two datasets have the same number of combination groups (state + first letter of city)')
    print(comb_len1)
else:
    print('False: The blocking variables from the two datasets have the same number of combination groups (state + first letter of city)')
    print('exclusion list: ', str(comb_len1), 'provider data: ', str(comb_len2))

l_gpname = sorted(df_LEIE_rest['l_grpvar'].unique())
p_gpname = sorted(df_p2014_TN_rest['p_grpvar'].unique())
comp = zip(l_gpname, p_gpname)
list(comp)

True: The blocking variables from the two datasets have the same number of combination groups (state + first letter of city)
21

[('TN A', 'TN A'),
 ('TN B', 'TN B'),
 ('TN C', 'TN C'),
 ('TN D', 'TN D'),
 ('TN E', 'TN E'),
 ('TN F', 'TN F'),
 ('TN G', 'TN G'),
 ('TN H', 'TN H'),
 ('TN J', 'TN J'),
 ('TN K', 'TN K'),
 ('TN L', 'TN L'),
 ('TN M', 'TN M'),
 ('TN N', 'TN N'),
 ('TN O', 'TN O'),
 ('TN P', 'TN P'),
 ('TN R', 'TN R'),
 ('TN S', 'TN S'),
 ('TN T', 'TN T'),
 ('TN U', 'TN U'),
 ('TN V', 'TN V'),
 ('TN W', 'TN W')]

In [18]:
df_p2014_TN_rest.groupby(['p_grpvar']).get_group('TN A').shape

(306, 65)

In [19]:
# fuzzy string matching
def fuzz_match(key, choices, scorer, cutoff):
    return process.extractOne(key, choices=choices, scorer=scorer, score_cutoff=cutoff)

result = []
for gp1 in l_gpname:
    l_gp = df_LEIE_rest.groupby(['l_grpvar']).get_group(gp1)
    #l_gp_start = l_gp.index.min()
    #l_gp_end = l_gp.index.max()
    for gp2 in p_gpname:
        p_gp = df_p2014_TN_rest.groupby(['p_grpvar']).get_group(gp2)
        #p_gp_start = p_gp.index.min()
        #p_gp_end = p_gp.index.max()
        if gp1 == gp2:
            new_result = l_gp['NAME'].apply(fuzz_match, args=(p_gp['nppes_name'], fuzz.ratio, 80))
            result.append(new_result)

result

[16                         None
 51                         None
 54                         None
 1470                       None
 1471                       None
 1472                       None
 1473                       None
 1474                       None
 1475                       None
 1476                       None
 1477                       None
 1478                       None
 1479                       None
 1480                       None
 1481                       None
 1482                       None
 1483                       None
 1484                       None
 1485                       None
 1486                       None
 1487                       None
 1488                       None
 1489    (RHEA ROBERT, 83, 7728)
 1490                       None
 1491                       None
 1492                       None
 1493                       None
 1494                       None
 1495                       None
 1496                       None
 1497                       None
 1498                       None
 1499                       None
 1500                       None
 1501                       None
 1502                       None
 1503                       None
 1504                       None
 1505                       None
 1506                       None
 1507                       None
 1508                       None
 1509                       None
 1510                       None
 Name: NAME, dtype: object, 28                            None
 56                            None
 1401                          None
 1402                          None
 1403                          None
 1404                          None
 1405                          None
 1406                          None
 1407                          None
 1408                          None
 1409                          None
 1410                          None
 1411                          None
 1412                          None
 1413                          None
 1414                          None
 1415                          None
 1416                          None
 1417                          None
 1418                          None
 1419                          None
 1420                          None
 1421                          None
 1422                          None
 1423                          None
 1424                          None
 1425                          None
 1426                          None
 1427                          None
 1428                          None
                    ...
 1440                          None
 1441                          None
 1442                          None
 1443                          None
 1444                          None
 1445                          None
 1446                          None
 1447                          None
 1448                          None
 1449                          None
 1450                          None
 1451                          None
 1452                          None
 1453                          None
 1454                          None
 1455                          None
 1456                          None
 1457                          None
 1458    (NORRIS MARTHA, 100, 5083)
 1459                          None
 1460                          None
 1461                          None
 1462                          None
 1463                          None
 1464     (SCOTT ANGELA, 85, 14577)
 1465                          None
 1466                          None
 1467                          None
 1468                          None
 1469                          None
 Name: NAME, Length: 71, dtype: object, 4                                None
 10                               None
 11                               None
 18                               None
 37          (WALKER WALTER, 80, 4013)
 55                               None
 61                               None
 64                               None
 66          (BARKER DAVID, 80, 15998)
 1218                             None
 1219                             None
 1220                             None
 1221                             None
 1222                             None
 1223                             None
 1224                             None
 1225                             None
 1226                             None
 1227                             None
 1228                             None
 1229                             None
 1230                             None
 1231    (KOESTER PATRICIA, 80, 17011)
 1232                             None
 1233                             None
 1234                             None
 1235         (SMITH PHILIP, 81, 8195)
 1236                             None
 1237                             None
 1238                             None
                     ...
 1371                             None
 1372        (GODWIN LAURA, 80, 13060)
 1373                             None
 1374                             None
 1375        (ANDERSON MARK, 81, 8955)
 1376        (ADAMS STEPHEN, 88, 7160)
 1377                             None
 1378                             None
 1379                             None
 1380                             None
 1381                             None
 1382                             None
 1383                             None
 1384                             None
 1385      (GOOCH MICHELLE, 83, 14403)
 1386                             None
 1387         (BELL KENNETH, 85, 9003)
 1388                             None
 1389     (WHALEY JONATHAN, 80, 21148)
 1390                             None
 1391                             None
 1392          (BONE RACHEL, 82, 1455)
 1393                             None
 1394                             None
 1395        (MANNING GRETA, 81, 7675)
 1396                             None
 1397                             None
 1398                             None
 1399                             None
 1400      (BREWSTER WARREN, 81, 2593)
 Name: NAME, Length: 192, dtype: object, 19                        None
 26                        None
 38      (LEE ROBERT, 82, 7001)
 43                        None
 44                        None
 1186                      None
 1187                      None
 1188                      None
 1189                      None
 1190                      None
 1191                      None
 1192                      None
 1193                      None
 1194                      None
 1195                      None
 1196                      None
 1197                      None
 1198                      None
 1199                      None
 1200                      None
 1201                      None
 1202                      None
 1203                      None
 1204                      None
 1205                      None
 1206                      None
 1207                      None
 1208                      None
 1209                      None
 1210                      None
 1211                      None
 1212                      None
 1213                      None
 1214                      None
 1215                      None
 1216                      None
 1217                      None
 Name: NAME, dtype: object, 1152    None
 1153    None
 1154    None
 1155    None
 1156    None
 1157    None
 1158    None
 1159    None
 1160    None
 1161    None
 1162    None
 1163    None
 1164    None
 1165    None
 1166    None
 1167    None
 1168    None
 1169    None
 1170    None
 1171    None
 1172    None
 1173    None
 1174    None
 1175    None
 1176    None
 1177    None
 1178    None
 1179    None
 1180    None
 1181    None
 1182    None
 1183    None
 1184    None
 1185    None
 Name: NAME, dtype: object, 24                          None
 1131                        None
 1132                        None
 1133                        None
 1134                        None
 1135                        None
 1136                        None
 1137                        None
 1138    (REID WILLIAM, 80, 9182)
 1139                        None
 1140                        None
 1141                        None
 1142                        None
 1143                        None
 1144                        None
 1145                        None
 1146                        None
 1147                        None
 1148                        None
 1149                        None
 1150                        None
 1151                        None
 Name: NAME, dtype: object, 1          (LEE MICHAEL, 83, 17993)
 58                             None
 1073    (GRAY KATHERINE, 80, 10473)
 1074    (SCALLIONS JOHN, 80, 14300)
 1075                           None
 1076                           None
 1077       (AKINS STEVEN, 83, 3061)
 1078                           None
 1079                           None
 1080                           None
 1081                           None
 1082                           None
 1083                           None
 1084                           None
 1085                           None
 1086                           None
 1087                           None
 1088                           None
 1089                           None
 1090                           None
 1091                           None
 1092                           None
 1093                           None
 1094                           None
 1095                           None
 1096                           None
 1097                           None
 1098                           None
 1099                           None
 1100                           None
 1101                           None
 1102                           None
 1103                           None
 1104                           None
 1105                           None
 1106                           None
 1107                           None
 1108                           None
 1109                           None
 1110                           None
 1111                           None
 1112                           None
 1113                           None
 1114                           None
 1115                           None
 1116                           None
 1117                           None
 1118                           None
 1119                           None
 1120                           None
 1121                           None
 1122                           None
 1123                           None
 1124                           None
 1125                           None
 1126                           None
 1127                           None
 1128                           None
 1129                           None
 1130                           None
 Name: NAME, dtype: object, 6                           None
 45                          None
 57                          None
 63                          None
 989                         None
 990                         None
 991                         None
 992                         None
 993                         None
 994                         None
 995                         None
 996                         None
 997                         None
 998                         None
 999                         None
 1000                        None
 1001                        None
 1002                        None
 1003                        None
 1004                        None
 1005                        None
 1006                        None
 1007                        None
 1008                        None
 1009                        None
 1010                        None
 1011                        None
 1012                        None
 1013                        None
 1014                        None
                   ...
 1043                        None
 1044    (BROWN JAMES, 100, 4015)
 1045                        None
 1046                        None
 1047                        None
 1048                        None
 1049                        None
 1050                        None
 1051                        None
 1052                        None
 1053                        None
 1054                        None
 1055                        None
 1056                        None
 1057                        None
 1058                        None
 1059                        None
 1060                        None
 1061                        None
 1062                        None
 1063                        None
 1064                        None
 1065                        None
 1066                        None
 1067                        None
 1068                        None
 1069                        None
 1070                        None
 1071                        None
 1072                        None
 Name: NAME, Length: 88, dtype: object, 2                              None
 3          (BEARB MICHAEL, 80, 813)
 21                             None
 34                             None
 53                             None
 908                            None
 909                            None
 910                            None
 911                            None
 912                            None
 913                            None
 914      (WILLIAMS LANE, 85, 16236)
 915                            None
 916                            None
 917                            None
 918       (RADER ANGELA, 82, 14000)
 919                            None
 920                            None
 921                            None
 922                            None
 923                            None
 924                            None
 925                            None
 926          (HAYES JOHN, 82, 8995)
 927                            None
 928                            None
 929                            None
 930                            None
 931    (FORSTER MARGRIT, 88, 11122)
 932        (RAY BEVERLY, 83, 11031)
                    ...
 959                            None
 960                            None
 961                            None
 962       (THORNE STEVEN, 85, 8528)
 963                            None
 964                            None
 965                            None
 966                            None
 967                            None
 968      (ROBERTSON JOHN, 96, 8125)
 969                            None
 970                            None
 971         (LANE DEBRA, 87, 10429)
 972                            None
 973                            None
 974                            None
 975                            None
 976       (HAYES CHARLES, 85, 2359)
 977                            None
 978                            None
 979                            None
 980                            None
 981                            None
 982                            None
 983                            None
 984                            None
 985                            None
 986                            None
 987                            None
 988                            None
 Name: NAME, Length: 86, dtype: object, 20                            None
 39                            None
 42                            None
 59                            None
 62                            None
 776                           None
 777                           None
 778                           None
 779                           None
 780      (WILLIAMS LANE, 81, 4988)
 781                           None
 782                           None
 783       (TURNER DEAN, 83, 16092)
 784                           None
 785                           None
 786                           None
 787                           None
 788       (THOMAS ERIC, 87, 19063)
 789                           None
 790                           None
 791                           None
 792                           None
 793                           None
 794                           None
 795                           None
 796                           None
 797                           None
 798                           None
 799       (ROUSE KELLY, 82, 10332)
 800                           None
                   ...
 878                           None
 879                           None
 880    (GREENE HEATHER, 81, 15634)
 881                           None
 882                           None
 883                           None
 884                           None
 885                           None
 886                           None
 887                           None
 888                           None
 889                           None
 890                           None
 891                           None
 892                           None
 893                           None
 894                           None
 895                           None
 896                           None
 897      (DAVIS DOUGLAS, 81, 9162)
 898                           None
 899                           None
 900                           None
 901                           None
 902     (GARDNER ROBERT, 81, 2188)
 903     (WALKER WILLIAM, 89, 8487)
 904                           None
 905                           None
 906                           None
 907                           None
 Name: NAME, Length: 137, dtype: object, 67     None
 705    None
 706    None
 707    None
 708    None
 709    None
 710    None
 711    None
 712    None
 713    None
 714    None
 715    None
 716    None
 717    None
 718    None
 719    None
 720    None
 721    None
 722    None
 723    None
 724    None
 725    None
 726    None
 727    None
 728    None
 729    None
 730    None
 731    None
 732    None
 733    None
        ...
 746    None
 747    None
 748    None
 749    None
 750    None
 751    None
 752    None
 753    None
 754    None
 755    None
 756    None
 757    None
 758    None
 759    None
 760    None
 761    None
 762    None
 763    None
 764    None
 765    None
 766    None
 767    None
 768    None
 769    None
 770    None
 771    None
 772    None
 773    None
 774    None
 775    None
 Name: NAME, Length: 72, dtype: object, 7              (COPE MARY, 80, 1602)
 14                              None
 15                              None
 22                              None
 29                              None
 36                              None
 48                              None
 49                              None
 65                              None
 442                             None
 443                             None
 444                             None
 445                             None
 446                             None
 447                             None
 448                             None
 449                             None
 450                             None
 451                             None
 452                             None
 453                             None
 454                             None
 455          (TRUE AMANDA, 80, 2257)
 456                             None
 457                             None
 458                             None
 459                             None
 460                             None
 461                             None
 462                             None
                    ...
 675                             None
 676          (FLORES ANA, 82, 16656)
 677                             None
 678        (DAVIDSON LISA, 92, 1101)
 679                             None
 680                             None
 681                             None
 682                             None
 683                             None
 684    (PETERSON JEFFREY, 91, 17807)
 685          (EASON JAMES, 83, 8560)
 686                             None
 687                             None
 688                             None

In [21]:
type(new_result)

pandas.core.series.Series

In [0]:
df = pd.DataFrame({'LEIE_index': new_result.index, 'result_temp': new_result.values})

In [24]:
df

    LEIE_index                   result_temp
0           69                          None
1           70                          None
2           71                          None
3           72                          None
4           73                          None
5           74                          None
6           75                          None
7           76                          None
8           77  (ROBERTSON TASMA, 84, 12706)
9           78                          None
10          79                          None
11          80                          None
12          81                          None
13          82                          None
14          83                          None
15          84                          None
16          85                          None
17          86                          None
18          87                          None
19          88                          None
20          89                          None
21          90                          None
22          91                          None
23          92                          None
24          93                          None
25          94                          None
26          95                          None
27          96                          None
28          97                          None
29          98                          None
30          99                          None
31         100                          None
32         101                          None

In [28]:
df_LEIE_rest.iloc[1489]

LASTNAME                    TOMLIN
FIRSTNAME                    JULIE
MIDNAME                          A
GENERAL       IND- LIC HC SERV PRO
SPECIALTY                THERAPIST
UPIN
NPI
DOB            1977-05-24 00:00:00
ADDRESS           314 DIXON AVENUE
CITY                        ATHENS
STATE                           TN
ZIP                          37303
EXCLTYPE                    1128b4
EXCLDATE       2014-06-19 00:00:00
REINDATE                       NaT
WAIVERDATE                     NaT
WVRSTATE
p_type                           I
NAME                  TOMLIN JULIE
fraud_flag                       1
l_grpvar                      TN A
Name: 1471, dtype: object

In [30]:
df_p2014_TN_rest.iloc[7728]

provider_type                           Family Practice
npi                                          1962614552
nppes_provider_last_org_name                      DUFFY
nppes_provider_first_name                        JAMIRA
nppes_name                                 DUFFY JAMIRA
nppes_provider_mi                                     N
nppes_provider_state                                 TN
nppes_provider_city                        MURFREESBORO
nppes_provider_zip                                37130
nppes_provider_street1                  726 S CHURCH ST
nppes_provider_street2
nppes_entity_code                                     I
nppes_provider_gender                                 F
nppes_credentials                                  M.D.
year                                               2014
line_srvc_cnt_count                                  22
line_srvc_cnt_sum                                  2830
line_srvc_cnt_min                                    12
line_srvc_cnt_mean                              128.636
line_srvc_cnt_median                                 27
line_srvc_cnt_std                               201.646
line_srvc_cnt_max                                   759
bene_unique_cnt_count                                22
bene_unique_cnt_sum                                1303
bene_unique_cnt_min                                  11
bene_unique_cnt_mean                            59.2273
bene_unique_cnt_median                               21
bene_unique_cnt_std                             78.3891
bene_unique_cnt_max                                 316
bene_day_srvc_cnt_count                              22
                                             ...
bene_day_srvc_cnt_max                               759
average_medicare_allowed_amt_count                   22
average_medicare_allowed_amt_sum                1520.76
average_medicare_allowed_amt_min                      3
average_medicare_allowed_amt_mean               69.1255
average_medicare_allowed_amt_median             52.6541
average_medicare_allowed_amt_std                61.1815
average_medicare_allowed_amt_max                221.298
average_submitted_chrg_amt_count                     22
average_submitted_chrg_amt_sum                  3186.71
average_submitted_chrg_amt_min                  9.26667
average_submitted_chrg_amt_mean                  144.85
average_submitted_chrg_amt_median               103.828
average_submitted_chrg_amt_std                  143.699
average_submitted_chrg_amt_max                  595.263
average_medicare_payment_amt_count                   22
average_medicare_payment_amt_sum                1142.98
average_medicare_payment_amt_min                   2.94
average_medicare_payment_amt_mean               51.9538
average_medicare_payment_amt_median             40.3638
average_medicare_payment_amt_std                 43.499
average_medicare_payment_amt_max                151.785
average_medicare_standard_amt_count                  22
average_medicare_standard_amt_sum               1290.79
average_medicare_standard_amt_min                  2.94
average_medicare_standard_amt_mean              58.6721
average_medicare_standard_amt_median            44.3681
average_medicare_standard_amt_std               52.3139
average_medicare_standard_amt_max               195.945
p_grpvar                                           TN M
Name: 7741, Length: 65, dtype: object